.footer {
  flex: 0 0 auto;
  background-color: #F2F2F2;
  min-height: 100px;
  margin-top: 72px;
}

.contacts { }

.contacts__logo {
  display: inline-block;
  padding: 26px 50px 26px 0;
 }

.contacts__text {
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
}
.contacts__address { 
  margin-bottom: 6px;
}
.contacts__phone { 
  margin-bottom: 10px;
}
.contacts__site { 

}
.contacts__link {
  color: #1F4766;
  text-decoration: none;
  font-weight: bold;
}

