@import 'normalize.css';

/* Common */

:root {
  --black: #333333;
  --red: #E5261E;
}

@font-face {
  font-family: Rubik-Medium;
  src: url(../fonts/Rubik-Regular.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Rubik-Medium, sans-serif;
  color: var(--black);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-text {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  border: none;
  border-bottom: 1px solid var(--black);
  padding-bottom: 6px;
}

.input-text::-webkit-input-placeholder {
  font-weight: normal;
  color: #828282;
  letter-spacing: 1px;
}

.input-text::-moz-placeholder {
  font-weight: normal;
  color: #828282;
  letter-spacing: 1px;
}

.input-text:-ms-input-placeholder {
  font-weight: normal;
  color: #828282;
  letter-spacing: 1px;
}

.input-text::-ms-input-placeholder {
  font-weight: normal;
  color: #828282;
  letter-spacing: 1px;
}

.input-text::placeholder {
  font-weight: normal;
  color: #828282;
  letter-spacing: 1px;
}

.input-text:focus {
  outline: none;
}

.button {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  background-color: var(--red);
  color: #fff;
  padding: 9px 32px 10px 32px;
}

.button:hover {
  background-color: #CC221B;
}

/* Header */

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  min-height: 100px;
  padding-top: 34px;
  padding-bottom: 51px;
}

.brand__image {
  display: inline-block;
  vertical-align: middle;
}

.brand__title {
  display: inline-block;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.search {
padding-top: 20px;

}

.search__input {
  width: 320px;
  font-weight: normal;
}

.search__button {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  border: none;
  background-color: #fff;
  color: var(--red);
}

.search__button:focus {
  outline: none;
}

.login {
  padding-top: 20px;
}

.login__button-login:hover {
  background-color: #CC221B;
}

.login__user-input {
  text-align: right;
  cursor: pointer;
  border: none;
  min-width: 115px;
  margin-right: 16px;
}

.login__user-input:focus {
  -moz-text-align-last: left;
       text-align-last: left;
  cursor: text;
  border-bottom: 1px solid var(--black);
}

#block-logout {
  display: none;
}

/* Main */

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.tab-toggle {  
  margin: 0 auto;
  margin-bottom: 27px;
}

.tab-toggle__link {
  font-size: 28px;
  line-height: 33px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline;
  padding-bottom: 9px;
  border: none;
  background-color: inherit;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.tab-content {
  display: none;
}

.tab-films { 
  -webkit-box-flex: 0; 
      -ms-flex: 0 0 100%; 
          flex: 0 0 100%;
}

.new__title { 
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.new__content {
  margin-right: -20px;
}

.film { 
  -webkit-box-flex: 0; 
      -ms-flex: 0 0 25%; 
          flex: 0 0 25%;
  position: relative;
  cursor: pointer;
  /* min-width: 280px; */
}

.film__image {
  margin-bottom: 16px;
  border-radius: 8px;
}

.film__title { 
  font-size: 20px;
  line-height: 24px;
}

.film__description {
  visibility: hidden;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 1px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  color: #F2F2F2;
}

.genres__title { 
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
}

.genre { 
  -webkit-box-flex: 0; 
      -ms-flex: 0 0 calc(25% - 15px); 
          flex: 0 0 calc(25% - 15px);
  min-width: 280px;
  min-height: 208px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
          box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  opacity: 0.8;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.genre:hover {
  opacity: 1;
}

.genre:nth-child(1) {
  background: -o-linear-gradient(313.73deg, #F2C94C 8.44%, #F29A4A 91.36%);
  background: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
}

.genre:nth-child(2) {
  background: -o-linear-gradient(313.73deg, #F2994A 8.44%, #EB5757 91.36%);
  background: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);

}

.genre:nth-child(3) {
  background: -o-linear-gradient(313.73deg, #56CCF2 8.44%, #2F80ED 91.36%);
  background: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);
}

.genre:nth-child(4) {
  background: -o-linear-gradient(313.73deg, #828282 8.44%, #333333 91.36%);
  background: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);
}

.genre__image { 
  position: absolute;
  top: calc(50% - 24px);
  left: calc(50% - 24px);
}
.genre__title { 
  font-size: 20px;
  line-height: 24px;
  font-weight: normal;
  color: #fff;
  position: relative;
  top: 65%;
}

.tab-channels { 
  -webkit-box-flex: 0; 
      -ms-flex: 0 0 100%; 
          flex: 0 0 100%;
}

.tab-channels__content {
  margin-right: -10px;
  height: 696px;
  overflow-y: scroll;
}

.channel { 
  background-color: #F2F2F2;
  margin-bottom: 16px;
  border-radius: 8px;
  margin-right: 10px;
}
.channel__logo { 
  -webkit-box-flex: 0; 
      -ms-flex: 0 0 35%; 
          flex: 0 0 35%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.channel__description {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}
.channel__title { 
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 21px;
  margin-bottom: 17px; 
}

.channel__content { 
  font-size: 16px;
  line-height: 19px;
}

.telecast__time { 
  margin-right: 16px;
}

.telecast__title { 
  display: inline-block;
  margin-top: 0;
  margin-bottom: 12px;
}

.telecast:last-child > .telecast__title {
  margin-bottom: 19px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: #F2F2F2;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
  border-radius: 2px;
}

/* Footer */

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #F2F2F2;
  min-height: 100px;
  margin-top: 72px;
}

.contacts__logo {
  display: inline-block;
  padding: 26px 50px 26px 0;
 }

.contacts__text {
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
}

.contacts__address { 
  margin-bottom: 6px;
}

.contacts__phone { 
  margin-bottom: 10px;
}

.contacts__link {
  color: #1F4766;
  text-decoration: none;
  font-weight: bold;
}

/* Popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(51, 51, 51, 0.6);
  z-index: 1;
}

.popup-login { 
  margin: auto;
  width: 304px;
  height: 394px;
  padding-left: 36px;
  padding-right: 36px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  text-align: center;
}

.popup-login__title {
  font-size: 28px;
  line-height: 33px;
  font-weight: bold;
  margin-top: 36px;
  margin-bottom: 24px;
}

.popup-login__name {
  display: block; 
  width: 232px;
  margin-bottom: 24px;
}

.popup-login__password {
  display: block; 
  width: 232px;
  margin-bottom: 23px;
}

.pop-login__remember-box {

  display: inline-block;
  vertical-align: middle;
  margin-left: -10px;
}

.pop-login__remember-box:checked {
  color: var(--red);
  background-color: #fff;
}

.pop-login__remember-label { 
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  margin-bottom: 111px;
  margin-right: 120px;
}

.popup-login__button-login { 
  display: block;
  margin: 0 auto;
}

#modal-login {
  display: none;
}

/* Media queries */

@media screen and (min-width: 546px) and (max-width: 1199px) {
  .contacts { 
    text-align: center;
  }
}

@media screen and (max-width: 545px) {
  .contacts { 
    text-align: center;
  }
}

@media screen and (min-width: 546px) and (max-width: 1199px) {
  .container {
    max-width: 80%;
  }

  .flex-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }

  .new__title {
    text-align: center;
  }

  .new__content {
    margin-right: 0;
  }

  .film__title {
    margin-bottom: 20px;
  }

  .genres__title {
    text-align: center;
  }

  .genre {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 545px) {
  .flex-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .search__input {
    margin-bottom: 10px;
  }

  .search__button {
    margin-left: calc(50% - 30px);
    /* margin-right: 50%; */
  }

  .tab-toggle__link {
    font-size: 24px;
    line-height: 28px;
  }

  .new__title {
    text-align: center;
  }

  .new__content {
    margin-right: 0;
  }

  .film__title {
    margin-bottom: 20px;
  }

  .genres__title {
    text-align: center;
  }

  .genre {
    margin-bottom: 30px;
  }

  .tab-channels__content {
    margin-right: 0;
  }
}